body{
    margin:0;
    padding: 0;
    background-color: #E0E0E0;
}
header{
    background-color: rosybrown;
}
header img{
    height: 60px;
    width: 60px;
}
#main-div{
    margin:0;
    padding: 0;
}
#SearchBar{
    height: 380px;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#citycards{
    margin-left: 15%;
    margin-right: 15%;


}
.hotel-images{
    height: 150px;
    width: 150px;
    padding:4%;
    border-radius: 25%;
}

footer{
    background-color: rosybrown;
}
footer img{
    height: 20px;
    width: 22px;
}