body{
    margin:0;
    padding: 0;
    background-color: #E0E0E0;
    font-family: 'Ubuntu',sans-serif;
}
#main-div{
    margin:0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}

content{
    display: block;
    position: relative;
    top: 60px;
    padding-bottom: 60px;
}

#viewSelector{
    position: relative;
    padding: 1%;
    display: flex;
    justify-content: center;
    
    
}
#viewSelector ul li a{
    color: black;
}





#list-view{
    width: 84%;
    margin:0 auto;
    
    display:grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-row-gap: 10%;
}
.cityCard{
    background-color: lightgray;
    
    display: flex;
    flex-direction: row;
}
.cityCard:hover{
    background-color: rosybrown;
}
.hotelDescription{
    padding-left: 4%;
}
.checked{
    color: orange;
}
.hotel-images{
    height: 200px;
    width: 250px;
}

#map-view{

 position: absolute;
 top:10%;

}
footer{
    background-color: rosybrown;
    position: fixed;
    bottom:0;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
    
}
footer img{
    height: 20px;
    width: 22px;
}
#contactuslink{
    margin-left:2%;
     
}

#TnC{
   font-size: 12px;
  
}
#footerSocials{
    margin-right: 2%;
}
@media screen and (min-width:576px) and (max-width:768px){
    #list-view{
        display: flex;
        flex-direction: column;
    }
    .cityCard{
        margin: 2% 0;
    }
    #map-view img{
        width:95%;
    }
}
@media screen and (max-width:576px){
    #list-view{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .cityCard{
        margin: 2% 0;
        flex-direction: column;
    }
    .hotel-images{
        height: 15%;
        max-height: 300px;
        width: 100%;
    }
    #map-view img{
        width:95%;
    }
}