body{
    margin:0;
    padding: 0;
    background-color: #E0E0E0;
    font-family: 'Ubuntu',sans-serif;
}
#main-div{
    margin:0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
header{
    background-color: rosybrown;
    position: fixed;
    z-index: 2;
    top:0;
    height: 60px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
header img{
    height: 60px;
    width: 60px;
    display: inline;
    vertical-align: middle;
    margin-left: 1%;
}
header a{
    margin-right: 2%;
}


content{
    display: block;
    position: relative;
    top: 60px;
    padding-bottom: 60px;
}
content ul{
    margin-top: 2%;
    
    text-align: center;
}
content ul li{
    display: inline;
    font-weight: bold;
    margin-right: 5%;;
}
#list-view{
    width: 80%;
    margin:0 auto;
    height: auto;
    display:grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 15%;
    grid-row-gap: 10%;
}
.cityCard{
    background-color: lightgray;
    
    display: flex;
    flex-direction: row;
}
.hotelDescription{
    padding-left: 4%;
}
.hotel-images{
    height: 200px;
    width: 250px;
}

#map-view{
    display: none;
}
footer{
    background-color: rosybrown;
    position: fixed;
    bottom:0;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
    
}
footer img{
    height: 20px;
    width: 22px;
}
#contactuslink{
    margin-left:2%;
     
}

#TnC{
   font-size: 12px;
  
}
#footerSocials{
    margin-right: 2%;
}