body{
    margin:0;
    padding: 0;
}
#main-div{
    margin:0;
    padding: 0;
}

header img{
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#hotel-image{
    height: 500px;
    width: 500px;
}

footer img{
    height: 20px;
    width: 22px;
}