body{
    margin:0;
    padding: 0;
    background-color: #E0E0E0;
    font-family: 'Ubuntu',sans-serif;
}
#main-div{
    margin:0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
header{
    background-color: rosybrown;
    position: fixed;
    z-index: 2;
    top:0;
    display: block;
    height: 60px;
    width: 100%;

}
header img{
    height: 60px;
    width: 60px;
    display: inline;
    vertical-align: middle;
}
header a{
    display: inline;
    position: absolute;
    right:15px;
    top:50%;
    transform: translateY(-50%);

}
content{
    display: block;
    position: relative;
    top: 60px;
    padding-bottom: 60px;
}

#hotelDetail{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
}
#hotel-image{
    height: 500px;
    width: 500px;
}

#customerDetail {
    margin:2%;
}
#tariff{
    border: 1px solid black;
    margin: 2%;
    border-radius: 5px;
    padding: 1% 2%;
}

footer{
    background-color: rosybrown;
    position: fixed;
    bottom:0;
    display: block;
    height: 60px;
    width: 100%;
   
    
}
footer img{
    height: 20px;
    width: 22px;
}
#contactuslink{
    display: inline;
    position: absolute;
    left:15px;
    top:50%;
    transform: translateY(-50%);
 
    
}
#footerSocials{
    display: inline;
    position: absolute;
    right:15px;
    top:50%;
    transform: translateY(-50%);
}
#TnC{
   font-size: 12px;
   
   position: absolute;
   left:50%;
   bottom:-10px;
   transform: translateX(-50%);
}